---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogCard from '../components/BlogCard.astro'
import { getCollection } from 'astro:content'

const poems = (await getCollection('poems'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<BaseLayout>
	<main class="app-container pt-36 max-w-[640px] mx-auto">
		<div class="text-center pb-8">
			<h1 class="text-5xl md:text-6xl font-normal leading-tight">Cage Musings</h1>
			<p class="text-lg opacity-70 italic mt-3">Poetry in English & Hindi</p>
		</div>
	</main>
	<section class="app-container max-w-[640px] mx-auto py-4 pb-16">
		<div class="poems-grid-container">
			{poems.map((poem) => <BlogCard post={poem} />)}
		</div>
	</section>
</BaseLayout>
